#budget-meta > div {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
}

#budget-meta h3 {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

#budget-meta p {
  margin: 0;
}

.container {
  margin-top: 5px;
  font-family: 'Gill Sans', sans-serif;
}

.button {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  background-color: rgb(212, 216, 212, 0.842);
  color: rgb(72, 66, 54);
  border-radius: 5px;
  border-color: rgb(202, 202, 193);
  padding: 5px 10px;
}
.delete_button {
  background-color: rgb(237, 122, 122);
  border-color: rgb(240, 161, 161);
  color: white;
}
.delete_button:hover {
  border-color: rgb(237, 122, 122);
  background-color: red;
}

.submit_button:hover {
  color: white;
  border-color: #6ea858;
  background-color: #4ea52b;
}
.logged_in_view {
  color: rgb(167, 170, 167);
  font-style: italic;
}
.message {
  background-color: rgb(105, 211, 223, 0.367);
  color: rgba(4, 105, 116, 0.796);
  font-style: italic;
  padding: 10px;
  border-style: double;
  border-color: rgb(105, 211, 223, 0.483);
}

.error {
  background-color: rgb(255, 100, 66, 0.505);
  color: rgb(183, 11, 11);
  border-color: rgba(252, 0, 0, 0.116);
}

.success {
  background-color: rgb(89, 239, 116, 0.367);
  color: rgb(3, 68, 15, 0.623);
  border-color: rgb(89, 239, 116, 0.228);
}

#navbarSupportedContent {
  color: black;
}
