#budget-meta > div {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
}

#budget-meta h3 {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

#budget-meta p {
  margin: 0;
}

#budget-attribute-form > div {
  display: flex;
  align-items: baseline;
  padding-bottom: 10px;
}

.list-group-item:hover {
  background-color: #edf1ee;
}

#welcome-intro {
  border: 30px solid #a8b545;

  background-color: #a8b545;
}
