#budget-meta > div {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
}

#budget-meta h3 {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

#budget-meta p {
  margin: 0;
}

#budget-attribute-form > div {
  display: flex;
  align-items: baseline;
  padding-bottom: 10px;
}

.list-group-item:hover {
  background-color: #edf1ee;
}

#welcome-intro {
  border: 30px solid #88d6ee;

  background-color: #88d6ee;
  /* #a8b545; */
}

.auth-hidden {
  visibility: hidden;
}

.navbar {
  background-color: #a8b545;
}

.navbar-brand {
  font-weight: bold;
}
/* Push logout to the right on large screens only */
@media (min-width: 992px) {
  .logout-item {
    margin-left: auto;
  }
}
