{% extends 'layout.html' %}
{% block content %}
<a href='{{ url_for("main.index") }}'>Home</a>
<h1>Create a Budget:</h1>
<form method='post' action='{{ url_for("main.create_budget") }}'>
    <div>
        <label for='name'>Budget Name: 
            <input name='name' id='name' value='{{ name }}'>
        </label>
    </div>
    <br>
    <div>
        <label for='month_duration'>Budget Month Duration: 
            <input name='month_duration' id='month_duration' value='{{ month_duration }}' placeholder='1 OR 12'>
        </label>
    </div>
    <br>
    <div>
        <label for='gross_income'>Gross Income 
            <br><small>Income should be for the duration of budget (annual or 1 month) & <i>before</i> deductions</small>: 
            <input name='gross_income' id='gross_income' value='{{ gross_income }}'>
        </label>
    </div>
    <br>
    <button type='submit' class='submit_button button'>Submit</button>
</form>
{% endblock %}