<!DOCTYPE html>
<html lang='en-us'>
    <head>
        <title>BudgeTing</title>
        <meta charset='UTF-8'>
        <link rel='stylesheet' href='{{ url_for("static", filename="stylesheets/application.css") }}'>
    </head>
    <body>
        <main>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <p class='message {{category}}'>{{ message }}</p> 
                <!-- TODO add class to flash messages p tag to format -->
                {% endfor %}
            {% endif %}
            {% endwith %}
             {% block content %}
             <!-- Filled in by the 'content' block from another template file -->
             {% endblock %}
        </main>
    </body>
</html>